@charset "UTF-8";
/*GENERALES*/
body#fondo {
  background-color: #a3c0af;
  font-family: "Raleway", sans-serif; }

/*NAVEGADOR*/
#menuNav {
  background-color: #a3c0af; }

#navbarSupportedContent {
  font-size: 1.4rem;
  font-weight: bold; }

/*HOME*/
section.seccionInferior {
  margin-top: 30px;
  margin-bottom: 30px; }

h3.seccionNovedades, .seccionRecomendaciones {
  color: #66977b;
  font-weight: bold;
  animation-name: animatitulos;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 10s;
  animation-delay: 0s; }

@keyframes animatitulos {
  0% {
    color: #66977b; }
  5% {
    color: black; }
  10% {
    color: #66977b; }
  15% {
    color: black; }
  20% {
    color: #66977b; }
  25% {
    color: black; }
  30% {
    color: #66977b; }
  35% {
    color: black; }
  40% {
    color: #66977b; }
  45% {
    color: black; }
  50% {
    color: #66977b; }
  55% {
    color: black; }
  60% {
    color: #66977b; }
  65% {
    color: black; }
  70% {
    color: #66977b; }
  75% {
    color: black; }
  80% {
    color: #66977b; }
  85% {
    color: black;
    opacity: 1; }
  100% {
    color: #66977b;
    opacity: 0; } }

/*Sección Novedades*/
article.articuloNovedades {
  font-family: "Nunito Sans", sans-serif; }

/*Sección Recomendaciones*/
article.articuloRecomendaciones {
  font-family: "Nunito Sans", sans-serif; }

article.articuloRecomendaciones p {
  font-size: 2rem; }

/*SECCION CATALOGO*/
#textoDiscos {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px; }

#textoPag {
  background-color: #a3c0af;
  border: 1px solid black;
  color: black;
  font-family: "Raleway", sans-serif; }

#textoPagActive {
  background-color: #798c81;
  border: 1px solid black;
  color: black;
  font-family: "Raleway", sans-serif; }

#textoPagDisabled {
  background-color: #a3c0af;
  border: 1px solid black;
  color: grey;
  font-family: "Raleway", sans-serif; }

/*SECCION COMO COMPRAR*/
/*Secciones*/
section {
  font-family: "Nunito Sans", sans-serif; }

/*SECCION NOSOTROS*/
/*Nosotros*/
section.textoNosotros {
  font-size: 20px; }

/*SECCION CONTACTO*/
/*Texto Contacto*/
.seccionContacto {
  margin-top: 20px; }

#formularioContacto {
  margin-top: 30px; }

@media only screen and (max-width: 450px) {
  #formularioContacto {
    margin-top: 30px; } }

/*FOOTER*/
#footerTodo {
  margin-top: 30px;
  display: flex;
  font-size: 20px;
  font-family: "Nunito Sans", sans-serif;
  height: 5rem;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-direction: row; }

#footerCopy {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start; }

#footerRedes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end; }

.logofacebook {
  height: 30px;
  width: 30px;
  background-image: url("img/logofacebook.png");
  background-repeat: round; }

.logotwitter {
  height: 30px;
  width: 30px;
  background-image: url("img/logotwitter.png");
  background-repeat: round; }

.logoinstagram {
  height: 30px;
  width: 30px;
  background-image: url("img/logoinstagram.png");
  background-repeat: round; }

footer div a {
  transition: 0.25s; }

footer div a:hover {
  height: 50px;
  width: 50px; }

@media only screen and (max-width: 450px) {
  #footerTodo {
    margin-top: 30px;
    display: flex;
    font-size: 17px;
    font-family: "Nunito Sans", sans-serif;
    height: 5rem;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-direction: row; }
  #footerRedes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    font-size: 18px; }
  .logofacebook {
    height: 2em;
    width: 3em;
    background-image: url("img/logofacebook.png");
    background-repeat: round; }
  .logotwitter {
    height: 2em;
    width: 3em;
    background-image: url("img/logotwitter.png");
    background-repeat: round; }
  .logoinstagram {
    height: 2em;
    width: 3em;
    background-image: url("img/logoinstagram.png");
    background-repeat: round; } }
