/*SECCION CATALOGO*/

#textoDiscos{
	font-weight: bold;
	margin-top:10px;
	margin-bottom:20px;
}

#hoverDisco:hover{
	width:114%
}
#textoPag{
	background-color: $colorbackground;
	border: 1px solid black;
	color: black;
	font-family: $fontUno;
}

#textoPagActive{
	background-color: #798c81;
	border: 1px solid black;
	color: black;
	font-family: $fontUno;
}

#textoPagDisabled{
	background-color: $colorbackground;
	border: 1px solid black;
	color: grey;
	font-family: $fontUno;
}