/*SECCION CATALOGO*/

/*Sección Grilla Catalogo*/

#grillaCatalogo{
	width: 90%;
	height: 750px;
	display: grid;
	grid-template-areas: 
	"discoUno discoDos discoTres Spotify"
	"discoCuatro discoCinco discoSeis Spotify"
	"discoSiete discoOcho discoNueve Spotify";
	grid-template-rows: 180px 180px 200px;
	grid-template-columns: 200px 200px 200px 300px;
	justify-content: space-around;
	grid-row-gap: 100px;
	grid-column-gap: 100px;
}

div#grillaCatalogo div{
	transition: 0.25s
}

div#grillaCatalogo div:hover{
	width: 260px;
	height: 240px;
}

.discoUno{
	grid-area: discoUno;
	width: 200px;
	height: 180px;
	border: 1px solid black;
	background-image: url('img/disco1.jpg');
	background-repeat: round;

}
.discoDos{
	grid-area: discoDos;
	width: 200px;
	height: 180px;
	border: 1px solid black;
	background-image: url('img/disco2.jpg');
	background-repeat: round;
}
.discoTres{
	grid-area: discoTres;
	width: 200px;
	height: 180px;
	border: 1px solid black;
	background-image: url('img/disco3.jpg');
	background-repeat: round;
}
.discoCuatro{
	grid-area: discoCuatro;
	width: 200px;
	height: 180px;
	border: 1px solid black;
	background-image: url('img/disco4.jpg');
	background-repeat: round;
}
.discoCinco{
	grid-area: discoCinco;
	width: 200px;
	height: 180px;
	border: 1px solid black;
	background-image: url('img/disco5.jpg');
	background-repeat: round;
}
.discoSeis{
	grid-area: discoSeis;
	width: 200px;
	height: 180px;
	border: 1px solid black;
	background-image: url('img/disco6.jpg');
	background-repeat: round;
}
.discoSiete{
	grid-area: discoSiete;
	width: 200px;
	height: 180px;
	border: 1px solid black;
	background-image: url('img/disco7.jpg');
	background-repeat: round;
}
.discoOcho{
	grid-area: discoOcho;
	width: 200px;
	height: 180px;
	border: 1px solid black;
	background-image: url('img/disco8.jpg');
	background-repeat: round;
}
.discoNueve{
	grid-area: discoNueve;
	width: 200px;
	height: 180px;
	border: 1px solid black;
	background-image: url('img/disco9.jpg');
	background-repeat: round;
}

aside.Spotify{
	grid-area: Spotify;
	width: 300px;
	height: 750px;
}