/*SECCION CONTACTO*/

/*Texto Contacto*/

.contenidoContacto{
	padding-top: 100px;
	background-color: $colorbackground;
	font-family:$fontTextos;
}


.textoDatos{
	font-family: $fontTextos;
	font-size: 3rem;
	margin-left: 50px;
}

.textoEncargos{
	font-family: $fontTextos;
	margin-top: 100px;
	margin-left: 50px;
	font-size: 2rem;
}