/*SECCION CONTACTO*/

/*Texto Contacto*/

.seccionContacto{
	margin-top:20px;
}
#formularioContacto{
		margin-top:30px;
		}	
@media only screen and (max-width: 450px) {
	#formularioContacto{
		margin-top:30px;
		}		
}