/*FOOTER*/

#footerTodo{
	margin-top: 30px;
	display: flex;
	font-size: 20px;
	font-family: $fontTextos;
	height: 5rem;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	flex-direction: row;
}

#footerCopy{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: flex-start;
}

#footerRedes{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: flex-end;
}
.logofacebook{
	height: 30px;
	width: 30px;
	background-image: url('img/logofacebook.png');
	background-repeat: round;
}
.logotwitter{
	height: 30px;
	width: 30px;
	background-image: url('img/logotwitter.png');
	background-repeat: round;
}
.logoinstagram{
	height: 30px;
	width: 30px;
	background-image: url('img/logoinstagram.png');
	background-repeat: round;
}
footer div a{
	transition: 0.25s;
}
footer div a:hover{
	height: 50px;
	width: 50px;
}

@media only screen and (max-width: 450px) {
	#footerTodo{
		margin-top: 30px;
		display: flex;
		font-size: 17px;
		font-family: $fontTextos;
		height: 5rem;
		justify-content: space-between;
		align-content: center;
		align-items: center;
		flex-direction: row;
	}
	#footerRedes{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-content: center;
		justify-content: flex-end;
		font-size: 18px;
	}
	.logofacebook{
		height: 2em;
		width: 3em;
		background-image: url('img/logofacebook.png');
		background-repeat: round;
	}
	.logotwitter{
		height: 2em;
		width: 3em;
		background-image: url('img/logotwitter.png');
		background-repeat: round;
	}
	.logoinstagram{
		height: 2em;
		width: 3em;
		background-image: url('img/logoinstagram.png');
		background-repeat: round;
	}
}